" Neovim Paths
let nvimdir = "{{ .dir.nvim.main }}"


" Plugin installation
" Specify a directory for plugins
" - For vim: '~/.vim/plugged'
" - For Neovim: '~/.local/share/nvim/plugged'
" - Avoid using standard Vim directory names like 'plugin'
call plug#begin('{{ .dir.nvim.plugin }}')
Plug 'airblade/vim-gitgutter'
Plug 'junegunn/vim-easy-align'
Plug 'machakann/vim-swap'
Plug 'mhinz/vim-startify'
Plug 'rhysd/devdocs.vim'
Plug 'roxma/vim-tmux-clipboard'
Plug 'ryanoasis/vim-devicons'
Plug 'SirVer/ultisnips' | Plug 'honza/vim-snippets'
Plug 'scrooloose/syntastic'
Plug 'scrooloose/nerdcommenter'
Plug 'scrooloose/nerdtree'
Plug 'tpope/vim-abolish'
Plug 'tpope/vim-fugitive'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-surround'
Plug 'Xuyuanp/nerdtree-git-plugin'
Plug 'ycm-core/YouCompleteMe'

Plug 'altercation/vim-colors-solarized'
Plug 'blueyed/vim-diminactive'
Plug 'itchyny/lightline.vim' | Plug 'mengelbrecht/lightline-bufferline'
Plug 'iCyMind/NeoSolarized'
Plug 'ltlollo/diokai'

Plug 'gregsexton/MatchTag'
Plug 'sheerun/vim-polyglot'
Plug 'adriaanzon/vim-emmet-ultisnips'
Plug 'maksimr/vim-jsbeautify'
call plug#end()
