[core]
    editor = nvim
    autocrlf = input
    excludesfile = "{{ .chezmoi.homedir }}/.gitignore_global"
[user]
    name = "{{ .name }}"
    email = "{{ .email }}"
[merge]
    tool = nfugitive
[mergetool "nvimdiff4"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED
[mergetool "nfugitive"]
    cmd = nvim -f -c "Gdiff" "$MERGED"
[diff]
    tool = nvimdiff2
[difftool "nvimdiff2"]
    cmd = nvim -d $LOCAL $REMOTE
