{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

BREW_PACKAGES=(ack cmake cocoapods composer exa git-flow-avh git-lfs go gradle neovim nuget nvm python rakudo ruby rust tmux watchman yarn zsh)

if ! hash brew; then
    /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
fi

brew install "${BREW_PACKAGES[@]}"

brew tap -q homebrew/cask-fonts

brew cask install \
    font-meslo-nerd-font-mono \
    font-mononoki-nerd-font-mono \
    iterm2 \
    react-native-debugger
{{ end -}}
